.career-center {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.career-center h1 {
  text-align: center;
  font-family: 'Trump';
  margin-bottom: 5rem;
  font-size: 50px;
}

.career-container {
  width: 70vw;
  margin: 0 auto;
}

.career {
  display: grid;
  margin-bottom: 1.5rem;
}

.career-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}

.career-title h2 {
  font-size: 26px;
  display: flex;
  align-items: center;
}

.career-btn {
  width: 110px;
  padding: 0.75rem 0;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  background-color: #ee9617;
  background-image: linear-gradient(to left, #ee9617, #ee7739, #ee9617);
  border: none;
  outline: none;
  color: #ffffff;
}

.career-content {
  display: block;
  margin-top: 1.5rem;
  transition: all 0.3s linear;
  padding: 0 3rem;
}

.career-content h3 {
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.down-btn {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.active {
  display: block;
}

.roles {
  margin-top: 1rem;
}

.roles > li {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .career-container {
    width: 80vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .career-center h1 {
    font-size: 40px;
  }

  .career-container {
    width: 90vw;
  }

  .career-title {
    display: grid;
  }
  .career-title h3 {
    font-size: 16px;
    text-align: left;
  }

  .career-title > div {
    margin-top: 1rem;
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
  }

  .career-btn {
    width: 130px;
    font-size: 16px;
  }
}
