.career-center {
  padding-top: 10rem;
}

.career-center h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 5rem;
  font-size: 40px;
}

.career-container {
  width: 70vw;
  margin: 0 auto;
}

.career {
  display: grid;
  margin-bottom: 1.5rem;
}

.career-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0;
  align-items: center;
  cursor: pointer;
}

.career-title h3 {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.career-btn {
  width: 150px;
  padding: 0.75rem 0;
  font-size: 18px;
  margin-right: 20px;
  cursor: pointer;
  background-image: linear-gradient(185deg, #f7b42c 0%, #fc575e 74%);
  border: none;
  outline: none;
  color: #ffffff;
}

.career-content {
  display: block;
  margin-top: 1.5rem;
  transition: all 0.3s linear;
}

.down-btn {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .career-container {
    width: 80vw;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .career-center h1 {
    font-size: 40px;
  }

  .career-container {
    width: 90vw;
  }

  .career-title {
    display: grid;
  }
  .career-title h3 {
    font-size: 16px;
    text-align: left;
  }

  .career-title > div {
    margin-top: 1rem;
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
  }

  .career-btn {
    width: 130px;
    font-size: 16px;
  }
}
