.projects-center {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.projects-detail-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 55% auto;
  column-gap: 4rem;
  overflow-y: hidden;
}

.projects-detail-container > iframe {
  border-radius: 10px;
}

/* .project-content {
  overflow-y: scroll;
} */

.project-content p {
  line-height: 1.5;
  margin-bottom: 1rem;
  font-size: 16px;
}

.project-content h4 {
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  align-items: flex-start;
}

.pills {
  margin-left: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 0.75rem;
}

.tag {
  background: var(--accent) !important;
  color: #ffffff !important;
  font-weight: 400 !important;
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
  .projects-detail-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .projects-detail-container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .projects-center h1 {
    font-size: 18px;
  }

  .project-content p {
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 15px;
  }
}
