.c1 {
  opacity: 0.2;
}

#load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1001;
  /* background: black; */
}

.circle {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 25px 0;
}

.logos {
  position: absolute;
  width: 170px;
  height: auto;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);
}

.JWsFAGOO_1 {
  stroke-dasharray: 1559 1561;
  stroke-dashoffset: 1560;
  animation: JWsFAGOO_draw_1 7200ms linear 0ms, JWsFAGOO_fade 7200ms linear 0ms;
}
@keyframes JWsFAGOO_draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes JWsFAGOO_fade {
  0% {
    stroke-opacity: 1;
  }
  94.44444444444444% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: 0;
  }
}
@keyframes JWsFAGOO_draw_1 {
  11.11111111111111% {
    stroke-dashoffset: 1560;
  }
  52.77777777777778% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
